body{
    background: #723e4e;
    font: 18pt Arial;
}
h1{
    color: white;
    text-align: center;
}
p#rvg{
    background: #f4b036;
    border-radius: 20px;
    text-align: center;
    color: white;
    border: solid black;
}
.kkkk{
    background: white;
    color: black;
    text-align: center;
}